* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
    user-select: none;
}

div,
li,
ul {
    box-sizing: border-box;
}

li,
ul {
    list-style: none;
}

body,
html {
    height: 100%;
}

body {
    // overflow: hidden;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        display: none;
    }
}
// 圆盘

.pageWrap {
    .roulette {
        position: fixed;
        left: 50%;
        bottom: 0;
        // transform: translate(-250px,70%);
        transform: translate(-50%,0);
        background: url("../css/images/pannelBg.png") center top no-repeat;
        width: 940px;
        height: 143px;
        z-index: 1;

        ul {
            position: relative;
            width: 940px;
            height: 940px;
            list-style: none;
            border-radius: 50%;
            overflow: hidden;
            transition: all 0.4s ease-out;

            li {
                position: absolute;
                top: 0;
                left: 0;
                width: 470px;
                height: 470px;
                transform-origin: 100% 100%;
                overflow: hidden;
                color: #fff;

                &.menu {
                    cursor: pointer;

                    &:hover {
                        div {
                            span {
                                text-shadow: 0 0 10px #ccc;
                                // transition: all 0.25s ease-in;
                            }
                        }
                    }
                }

                &:nth-child(odd) {
                    div {
                        // background-color: #ccc;
                    }
                }

                &:nth-child(even) {
                    div {
                        // background-color: #f00;
                    }
                }

                &.center {
                    span {
                        color: #33fefa;
                        text-shadow: 0 0 8px #33fefa;
                        font-size: 22px;
                    }
                }

                div {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    height: 100%;
                    width: 100%;
                    transform: skew(-72deg) rotate(-36deg);
                    transform-origin: 100% 100%;

                    span {
                        display: block;
                        transform: rotate(-45deg);
                        height: 100%;
                        transition: all 0.5s ease-in;
                        line-height: 325px;
                        text-align: center;
                        font-size: 18px;
                    }
                }
            }
        }
    }
    // .next {
    //     display: none;
    //     position: fixed;
    //     bottom: 30px;
    //     left: 50%;
    //     cursor: pointer;
    //
    //     div {
    //         margin: 0 auto 5px;
    //         height: 2px;
    //         border-radius: 5px;
    //         background: #2fd5d3;
    //         @keyframes nextFlash {
    //             from {
    //                 background-color: #4cfffe;
    //             }
    //
    //             to {
    //                 background-color: #2487a3;
    //             }
    //         }
    //
    //         &:nth-child(1) {
    //             width: 10px;
    //             animation: nextFlash 0.5s linear infinite alternate;
    //         }
    //
    //         &:nth-child(2) {
    //             width: 24px;
    //             animation: nextFlash 0.5s linear 0.2s infinite alternate;
    //         }
    //
    //         &:nth-child(3) {
    //             width: 34px;
    //             animation: nextFlash 0.5s linear 0.3s infinite alternate;
    //         }
    //
    //         &:nth-child(4) {
    //             width: 44px;
    //             animation: nextFlash 0.5s linear 0.4s infinite alternate;
    //         }
    //
    //         &:nth-child(5) {
    //             width: 54px;
    //             animation: nextFlash 0.5s linear 0.5s infinite alternate;
    //         }
    //     }
    // }
}

.page,
.pageWrap {
    position: relative;
    transform-origin: left top 0;
    overflow: hidden;
    width: 1920px;
    height: 1080px;

    .container {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .flashSquare {
        position: relative;

        .corner {
            position: absolute;

            &:after,
            &:before {
                content: ' ';
                display: block;
                position: absolute;
                // background-color: #33fefa;
                animation: cornerFlash 1.5s linear infinite alternate;
            }

            &:before {
                width: 9px;
                height: 1px;
            }

            &:after {
                width: 1px;
                height: 9px;
            }
        }
        @keyframes cornerFlash {
            from {
                // transform: rotate(0);
                background-color: #00fffd;
            }

            to {
                // transform: rotate(360deg);
                background-color: transparent;
                // background-color: #00fffd;
            }
        }

        .top {
            top: 0;
            left: 0;

            &:before {
                top: -1px;
            }

            &:after {
                left: -1px;
            }
        }

        .right {
            top: 0;
            right: 0;

            &:before {
                top: -1px;
                right: -1px;
            }

            &:after {
                right: -1px;
            }
        }

        .bottom {
            bottom: 0;
            right: 0;

            &:before {
                right: -1px;
                bottom: -1px;
            }

            &:after {
                right: -1px;
                bottom: -1px;
            }
        }

        .left {
            bottom: 0;
            left: 0;

            &:before {
                bottom: -1px;
            }

            &:after {
                left: -1px;
                bottom: -1px;
            }
        }
    }

    .dots {
        position: absolute;
        top: 7px;
        left: 210px;

        div {
            float: left;
            margin-right: 5px;
            width: 6px;
            height: 7px;
            transform: skew(30deg,0);
            background: #2fd5d3;
            @keyframes dotFlash {
                from {
                    // transform: rotate(0);
                    background-color: #2dc3c2;
                }

                to {
                    // transform: rotate(360deg);
                    background-color: #00fffd;
                    box-shadow: 0 0 10px #fff;
                }
            }

            &:nth-child(1) {
                width: 6px;
                animation: dotFlash 0.5s linear infinite alternate;
            }

            &:nth-child(2) {
                width: 5px;
                animation: dotFlash 0.5s linear 0.2s infinite alternate;
            }

            &:nth-child(3) {
                width: 4px;
                animation: dotFlash 0.5s linear 0.3s infinite alternate;
            }

            &:nth-child(4) {
                width: 3px;
                animation: dotFlash 0.5s linear 0.4s infinite alternate;
            }

            &:nth-child(5) {
                width: 2px;
                animation: dotFlash 0.5s linear 0.5s infinite alternate;
            }

            &:nth-child(6) {
                width: 1px;
                animation: dotFlash 0.5s linear 0.6s infinite alternate;
            }
        }
    }

    .number {
        background: url("../css/images/number.png") no-repeat;
        width: 25px;
        height: 38px;
        text-indent: -2000em;
        background-position-x: 6px;

        &.flip {
            transition: 1s;
            transform: rotateY(720deg);
        }

        &.num0 {
            background-position-y: 7px;
        }

        &.num1 {
            background-position-y: -42px;
        }

        &.num2 {
            background-position-y: -93px;
        }

        &.num3 {
            background-position-y: -143px;
        }

        &.num4 {
            background-position-y: -193px;
        }

        &.num5 {
            background-position-y: -243px;
        }

        &.num6 {
            background-position-y: -293px;
        }

        &.num7 {
            background-position-y: -343px;
        }

        &.num8 {
            background-position-y: -393px;
        }

        &.num9 {
            background-position-y: -443px;
        }

        &.dot {
            background-position-y: -497px;
        }
    }

    .stage {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: #1c2025;

        .fullScreen {
            position: absolute;
            top: 100px;
            right: 0;
            padding: 5px 10px;
            border-radius: 5px 0 0 5px;
            background-color: rgba(255, 255, 255, .1);
            color: #d2d5d7;
            cursor: pointer;
            font-size: 20px;
        }

        .leftPannel {
            position: absolute;
            // left: 35px;
            top: 140px;
            // bottom: 0;
            // right: 0;
            z-index: 1;
        }
    }

    &.page1 {
        display: none;
        background-color: #171a1e;

        .logo {
            position: absolute;
            left: 40px;
            top: 35px;
            z-index: 1;
            width: 490px;
            height: 68px;
            background: url("../css/images/logo.png") no-repeat;
        }

        .stage {
            .leftPannel {
                left: -100%;
                top: 50%;
                transform: translate(0,-50%);
                opacity: 0;
                transition: all 2s ease-in;
                z-index: 5;

                &.show {
                    left: 35px;
                    opacity: 1;
                }

                .titleBar {
                    display: flex;
                    align-items: center;
                    margin-top: 40px;

                    &:before {
                        content: ' ';
                        display: block;
                        width: 35px;
                        height: 35px;
                        background-position: center;
                        background-repeat: no-repeat;
                    }

                    &.titleBar1 {
                        &:before {
                            background-image: url("../css/images/titleico1.png");
                        }
                    }

                    &.titleBar2 {
                        &:before {
                            background-image: url("../css/images/titleico2.png");
                        }
                    }

                    &.titleBar3 {
                        &:before {
                            background-image: url("../css/images/titleico3.png");
                        }
                    }

                    &.titleBar4 {
                        &:before {
                            background-image: url("../css/images/titleico4.png");
                        }
                    }

                    .title {
                        position: relative;
                        padding-left: 20px;
                        width: 655px;
                        height: 51px;
                        line-height: 51px;
                        background: url("../css/images/titleBar.png") no-repeat;
                        color: #fff;
                        font-weight: normal;
                        font-family: "Microsoft YaHei";
                        font-size: 16px;
                    }
                }

                .content {
                    padding-top: 10px;
                    padding-left: 40px;

                    .animateNumber {
                        display: inline-block;
                        vertical-align: middle;

                        span {
                            position: relative;
                            display: inline-block;
                            margin: 0 5px 0 0;
                            width: 36px;
                            height: 52px;
                            line-height: 52px;
                            border: 1px solid rgba(0, 0, 0, .5);
                            background-color: #0c434a;
                            text-align: center;
                            font-size: 50px;

                            &.dot {
                                width: 15px;
                                border: none;
                                background-position-x: -5px;
                                background-color: transparent;
                            }
                        }
                    }

                    ul {
                        overflow: auto;

                        li {
                            float: left;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            margin: 10px 10px 10px 0;

                            span {
                                padding-bottom: 5px;
                                color: #fff;
                                font-size: 16px;
                            }

                            p {
                                color: #33fefa;
                                line-height: 26px;
                                font-family: "Microsoft YaHei";
                                font-weight: bold;
                                font-size: 26px;
                            }
                        }
                    }

                    .flashSquareBox {
                        overflow: auto;
                        width: 800px;

                        .flashSquare {
                            width: 90px;
                            height: 90px;
                            border: 1px solid rgba(51, 254, 250, .15);
                            background: rgba(0, 0, 0, .15);

                            p {
                                transition: all 1s ease-in;
                            }

                            &.light {
                                p {
                                    text-shadow: 0 0 10px #33fefa;
                                }
                            }
                        }
                    }

                    .productBox {
                        li {
                            padding: 0 20px;
                            height: 78px;
                            background: url("../css/images/line.png") no-repeat;
                        }
                    }
                }
            }
        }
    }

    &.page2 {
        .title {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 233px;
            background: url("../css/images/page2_titleBg.png") center no-repeat;
            z-index: 2;
        }

        .stage {}
    }
}