* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
    user-select: none;
}

div,
li,
ul {
    box-sizing: border-box;
}

li,
ul {
    list-style: none;
}

body,
html {
    height: 100%;
}

body {
    // overflow: hidden;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        display: none;
    }
}
// 圆盘

.pageWrap {
    .mainSearch {
        position: fixed;
        left: 50%;
        bottom: -120px;
        transform: translate(-50%,0);
        transition: all 0.5s;
        width: 580px;
        height: 60px;
        transition: all 0.25s;
        z-index: 2;

        &.show {
            bottom: 30px;
        }

        .lineBox {
            position: absolute;
            left: 0;
            top: -4px;
            bottom: 0;
            width: 100%;

            &:before {
                content: ' ';
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                border-radius: 10px;
                border: 2px solid #33fefa;
                animation: borderFlash 0.5s linear infinite alternate;
                @keyframes borderFlash {
                    from {
                        border-color: #33fefa;
                    }

                    to {
                        border-color: #2487a3;
                    }
                }
            }

            &:after {
                content: ' ';
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                border-radius: 10px;
                background: radial-gradient(#1c3d40 , #1f4d50);
                opacity: 0.4;
            }

            .line {
                position: absolute;
                z-index: 1;
                width: 100%;
                height: 100%;

                &:after,
                &:before {
                    content: ' ';
                    position: absolute;
                    display: block;
                    background: #1c3d40;
                    z-index: 1;
                }

                &.landscape {
                    &:after,
                    &:before {
                        left: 9px;
                        right: 9px;
                        height: 4px;
                    }

                    &:before {
                        top: 0;
                    }

                    &:after {
                        bottom: 0;
                    }
                }

                &.portrait {
                    &:after,
                    &:before {
                        top: 9px;
                        bottom: 9px;
                        width: 4px;
                    }

                    &:before {
                        left: 0;
                    }

                    &:after {
                        right: 0;
                    }
                }
            }
        }

        .inputBox {
            position: absolute;
            left: 0;
            bottom: 2px;
            display: flex;
            width: 100%;
            z-index: 2;
            border-radius: 10px;

            .input {
                flex: 1;
                padding-right: 100px;
                padding-left: 15px;
                line-height: 60px;
                border-radius: 10px;
                background: none;
                outline: none;
                border: none;
                color: #fff;
                font-size: 18px;

                &:focus {
                    box-shadow: 0 0 10px #fff;
                }

                &::-webkit-input-placeholder {
                    color: #999;
                    font-size: 18px;
                }
            }

            .searchBtn {
                position: absolute;
                right: 15px;
                top: 14px;
                width: 45px;
                height: 35px;
                background: url("../css/images/search.png") no-repeat;
                cursor: pointer;
            }
        }

        .serach {
            width: 40px;
            height: 40px;
        }

        .next {
            position: fixed;
            top: -50px;
            left: 50%;
            transform: translate(-50%,0);
            cursor: pointer;

            div {
                margin: 0 auto 5px;
                height: 2px;
                border-radius: 5px;
                background: #2fd5d3;
                @keyframes nextFlash {
                    from {
                        background-color: #4cfffe;
                    }

                    to {
                        background-color: #2487a3;
                    }
                }

                &:nth-child(1) {
                    width: 10px;
                    animation: nextFlash 0.5s linear infinite alternate;
                }

                &:nth-child(2) {
                    width: 24px;
                    animation: nextFlash 0.5s linear 0.2s infinite alternate;
                }

                &:nth-child(3) {
                    width: 34px;
                    animation: nextFlash 0.5s linear 0.3s infinite alternate;
                }

                &:nth-child(4) {
                    width: 44px;
                    animation: nextFlash 0.5s linear 0.4s infinite alternate;
                }

                &:nth-child(5) {
                    width: 54px;
                    animation: nextFlash 0.5s linear 0.5s infinite alternate;
                }
            }
        }
    }

    .roulette {
        // display: none;
        position: fixed;
        left: 50%;
        bottom: 0;
        // transform: translate(-250px,70%);
        transform: translate(-50%,0);
        transition: all 0.5s;
        background: url("../css/images/pannelBg.png") center top no-repeat;
        width: 940px;
        height: 143px;
        z-index: 10;

        &.hide {
            bottom: -150px;
        }

        .muder {
            position: absolute;
            left: 50%;
            top: 70%;
            transform: translate(-50%,0);
            width: 900px;
            height: 900px;
            border-radius: 100%;
            z-index: 1;

            .eye {
                position: absolute;
                left: 50%;
                margin-top: 2px;
                width: 46px;
                height: 39px;
                // transform: translate(-50%,0);
                background: url("../css/images/eye.png") center no-repeat;
                z-index: 1;
                cursor: pointer;
                animation: animateEye 0.5s linear infinite alternate;
                @keyframes animateEye {
                    from {
                        transform: translate(-50%,0) scale(.95);
                    }

                    to {
                        transform: translate(-50%,0) scale(1);
                    }
                }
            }
        }

        ul {
            position: relative;
            width: 940px;
            height: 940px;
            list-style: none;
            border-radius: 50%;
            overflow: hidden;
            transition: all 0.4s ease-out;

            li {
                position: absolute;
                top: 0;
                left: 0;
                width: 470px;
                height: 470px;
                transform-origin: 100% 100%;
                overflow: hidden;
                color: #fff;

                &.menu {
                    &:hover {
                        div {
                            span {
                                text-shadow: 0 0 10px #ccc;
                                // transition: all 0.25s ease-in;
                            }
                        }
                    }
                }

                &:nth-child(odd) {
                    div {
                        // background-color: #ccc;
                    }
                }

                &:nth-child(even) {
                    div {
                        // background-color: #f00;
                    }
                }

                &.center {
                    span {
                        color: #33fefa;
                        text-shadow: 0 0 8px #33fefa;
                        font-size: 22px;
                    }
                }

                div {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    height: 100%;
                    width: 100%;
                    transform: skew(-72deg) rotate(-36deg);
                    transform-origin: 100% 100%;

                    span {
                        display: block;
                        transform: rotate(-45deg);
                        height: 100%;
                        transition: all 0.5s ease-in;
                        line-height: 325px;
                        text-align: center;
                        font-size: 18px;

                        a {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

.page,
.pageWrap {
    position: relative;
    transform-origin: left top 0;
    overflow: hidden;
    width: 1920px;
    height: 1080px;
    background: #1c2025;

    .container {
        width: 100%;
        height: 100%;
    }

    .flashSquare {
        position: relative;

        .corner {
            position: absolute;

            &:after,
            &:before {
                content: ' ';
                display: block;
                position: absolute;
                // background-color: #33fefa;
                animation: cornerFlash 1.5s linear infinite alternate;
            }

            &:before {
                width: 9px;
                height: 1px;
            }

            &:after {
                width: 1px;
                height: 9px;
            }
        }
        @keyframes cornerFlash {
            from {
                // transform: rotate(0);
                background-color: #00fffd;
            }

            to {
                // transform: rotate(360deg);
                background-color: transparent;
                // background-color: #00fffd;
            }
        }

        .top {
            top: 0;
            left: 0;

            &:before {
                top: -1px;
            }

            &:after {
                left: -1px;
            }
        }

        .right {
            top: 0;
            right: 0;

            &:before {
                top: -1px;
                right: -1px;
            }

            &:after {
                right: -1px;
            }
        }

        .bottom {
            bottom: 0;
            right: 0;

            &:before {
                right: -1px;
                bottom: -1px;
            }

            &:after {
                right: -1px;
                bottom: -1px;
            }
        }

        .left {
            bottom: 0;
            left: 0;

            &:before {
                bottom: -1px;
            }

            &:after {
                left: -1px;
                bottom: -1px;
            }
        }
    }

    .dots {
        position: absolute;
        top: 7px;
        left: 210px;

        div {
            float: left;
            margin-right: 5px;
            width: 6px;
            height: 7px;
            transform: skew(30deg,0);
            background: #2fd5d3;
            @keyframes dotFlash {
                from {
                    // transform: rotate(0);
                    background-color: #2dc3c2;
                }

                to {
                    // transform: rotate(360deg);
                    background-color: #00fffd;
                    box-shadow: 0 0 10px #fff;
                }
            }

            &:nth-child(1) {
                width: 6px;
                animation: dotFlash 0.5s linear infinite alternate;
            }

            &:nth-child(2) {
                width: 5px;
                animation: dotFlash 0.5s linear 0.2s infinite alternate;
            }

            &:nth-child(3) {
                width: 4px;
                animation: dotFlash 0.5s linear 0.3s infinite alternate;
            }

            &:nth-child(4) {
                width: 3px;
                animation: dotFlash 0.5s linear 0.4s infinite alternate;
            }

            &:nth-child(5) {
                width: 2px;
                animation: dotFlash 0.5s linear 0.5s infinite alternate;
            }

            &:nth-child(6) {
                width: 1px;
                animation: dotFlash 0.5s linear 0.6s infinite alternate;
            }
        }
    }

    .number {
        background: url("../css/images/number.png") no-repeat;
        width: 25px;
        height: 38px;
        text-indent: -2000em;
        background-position-x: 6px;

        &.flip {
            transition: 1s;
            transform: rotateY(720deg);
        }

        &.num0 {
            background-position-y: 7px;
        }

        &.num1 {
            background-position-y: -42px;
        }

        &.num2 {
            background-position-y: -93px;
        }

        &.num3 {
            background-position-y: -143px;
        }

        &.num4 {
            background-position-y: -193px;
        }

        &.num5 {
            background-position-y: -243px;
        }

        &.num6 {
            background-position-y: -293px;
        }

        &.num7 {
            background-position-y: -343px;
        }

        &.num8 {
            background-position-y: -393px;
        }

        &.num9 {
            background-position-y: -443px;
        }

        &.dot {
            background-position-y: -497px;
        }
    }

    .stage {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;

        .fullScreen {
            position: absolute;
            top: 100px;
            right: 0;
            padding: 5px 10px;
            border-radius: 5px 0 0 5px;
            background-color: rgba(255, 255, 255, .1);
            color: #d2d5d7;
            cursor: pointer;
            font-size: 20px;
        }

        .titleBar {
            display: flex;
            align-items: center;
            margin-top: 40px;

            &:before {
                content: ' ';
                display: block;
                width: 35px;
                height: 35px;
                background-position: center;
                background-repeat: no-repeat;
            }

            &.titleBar1 {
                &:before {
                    background-image: url("../css/images/titleico1.png");
                }
            }

            &.titleBar2 {
                &:before {
                    background-image: url("../css/images/titleico2.png");
                }
            }

            &.titleBar3 {
                &:before {
                    background-image: url("../css/images/titleico3.png");
                }
            }

            &.titleBar4 {
                &:before {
                    background-image: url("../css/images/titleico4.png");
                }
            }

            .title {
                position: relative;
                padding-left: 20px;
                width: 655px;
                height: 51px;
                line-height: 51px;
                background: url("../css/images/titleBar.png") no-repeat;
                color: #fff;
                font-weight: normal;
                font-family: "Microsoft YaHei";
                font-size: 16px;

                .topLine {
                    position: absolute;
                    left: 7px;
                    top: -3px;
                    width: 141px;
                    height: 8px;
                    background: url("../css/images/topLine.png") repeat-x;
                }
            }
        }

        .leftPannel {
            position: absolute;
            // left: 35px;
            top: 140px;
            // bottom: 0;
            // right: 0;
            z-index: 1;
        }

        .rightPannel {
            position: absolute;
            // left: 35px;
            top: 140px;
            // bottom: 0;
            right: 0;
            z-index: 1;
        }

        .charts {
            position: relative;

            .chart {
                width: 100%;
                height: 100%;
            }
        }

        &.stage1 {
            .logo {
                position: absolute;
                left: 40px;
                top: 35px;
                z-index: 1;
                width: 490px;
                height: 68px;
                background: url("../css/images/logo.png") no-repeat;
            }

            .leftPannel {
                left: -100%;
                top: 50%;
                transform: translate(0,-50%);
                opacity: 0;
                transition: all 2s ease-in;
                z-index: 5;

                &.show {
                    left: 35px;
                    opacity: 1;
                }

                .content {
                    padding-top: 10px;
                    padding-left: 40px;

                    .animateNumber {
                        display: inline-block;
                        vertical-align: middle;

                        span {
                            position: relative;
                            display: inline-block;
                            margin: 0 5px 0 0;
                            width: 36px;
                            height: 52px;
                            line-height: 52px;
                            border: 1px solid rgba(0, 0, 0, .5);
                            background-color: #0c434a;
                            text-align: center;
                            font-size: 50px;

                            &.dot {
                                width: 15px;
                                border: none;
                                background-position-x: -5px;
                                background-color: transparent;
                            }
                        }
                    }

                    ul {
                        overflow: auto;

                        li {
                            float: left;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            margin: 10px 10px 10px 0;

                            span {
                                padding-bottom: 5px;
                                color: #fff;
                                font-size: 16px;
                            }

                            p {
                                color: #33fefa;
                                line-height: 26px;
                                font-family: "Microsoft YaHei";
                                font-weight: bold;
                                font-size: 26px;
                            }
                        }
                    }

                    .flashSquareBox {
                        overflow: auto;
                        width: 800px;

                        .flashSquare {
                            width: 90px;
                            height: 90px;
                            border: 1px solid rgba(51, 254, 250, .15);
                            background: rgba(0, 0, 0, .15);

                            p {
                                transition: all 1s ease-in;
                            }

                            &.light {
                                p {
                                    text-shadow: 0 0 10px #33fefa;
                                }
                            }
                        }
                    }

                    .productBox {
                        li {
                            padding: 0 20px;
                            height: 78px;
                            background: url("../css/images/line.png") no-repeat;
                        }
                    }
                }
            }
        }

        &.stage2 {
            opacity: 0;
            z-index: -1;

            &.show {
                opacity: 1;
                z-index: 1;

                .leftPannel {
                    left: 35px;
                    opacity: 1;
                }

                .rightPannel {
                    right: 35px;
                    opacity: 1;
                }
            }

            .topTitle {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 233px;
                background: url("../css/images/page2_titleBg.png") center no-repeat;
                z-index: 2;
            }

            .titleBar {
                margin-top: 15px;

                &:before {
                    display: none;
                }
                background-color: rgba(0, 0, 0, .15);

                .title {
                    width: 480px;
                }
            }

            .leftPannel,
            .rightPannel {
                top: 65px;
                opacity: 0;
                transition: all 2s ease-in;
                z-index: 5;
            }

            .leftPannel {
                // margin-left: 5px;
                left: -100%;
            }

            .rightPannel {
                // margin-right: 5px;
                right: -100%;

                .warningNum {
                    .percent {
                        float: right;
                        margin-right: 10px;
                    }
                }
            }

            .content {
                overflow: hidden;
                padding: 5px 0 10px;
                background: rgba(0, 0, 0, .15);

                .warningNum {
                    margin: 0 0 10px 8px;
                    color: #fff;
                    font-family: "Microsoft YaHei";
                    font-size: 16px;

                    .num {
                        margin-right: 20px;
                        color: #eede3f;
                        font-size: 36px;
                    }

                    .percent {
                        color: #33fefa;
                        font-size: 24px;

                        &:after {
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                        }

                        &.up {
                            &:after {
                                content: '↑';
                                color: #de485d;
                            }
                        }

                        &.down {
                            &:after {
                                content: '↓';
                                color: #57dd94;
                            }
                        }
                    }
                }

                .flexNum {
                    display: flex;
                    margin: 0 0 10px;

                    li {
                        flex: 1;
                        position: relative;
                        text-align: center;

                        p {
                            color: #fff;
                            font-size: 16px;
                        }

                        span {
                            color: #33fefa;
                            font-size: 24px;
                        }

                        &:nth-child(1),
                        &:nth-child(2) {
                            &:after {
                                content: '';
                                position: absolute;
                                right: 0;
                                top: 10px;
                                width: 1px;
                                height: 30px;
                                background: #ccc;
                            }
                        }
                    }
                }

                .charts {
                    &.chart1 {
                        height: 195px;

                        .chart {
                            width: 75%;
                        }

                        &:before {
                            content: ' ';
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 75%;
                            height: 100%;
                            background: url("../css/images/page2_chart1Bg.png") center no-repeat;
                            animation: animateChart1Bg 1.5s linear infinite alternate;
                        }
                        @keyframes animateChart1Bg {
                            from {
                                transform: scale(.85);
                            }

                            to {
                                transform: scale(1);
                            }
                        }

                        .legend {
                            position: absolute;
                            right: 60px;
                            top: 50%;
                            transform: translate(0,-50%);

                            span {
                                display: block;
                                margin-bottom: 20px;
                                color: #fff;
                                font-size: 12px;

                                &:before {
                                    content: ' ';
                                    display: inline-block;
                                    margin: 0 5px 0 0;
                                    width: 14px;
                                    height: 10px;
                                    border-radius: 3px;
                                    vertical-align: middle;
                                }

                                &:nth-child(1):before {
                                    background: #70eca8;
                                }

                                &:nth-child(2):before {
                                    background: #1a95ff;
                                }

                                &:nth-child(3):before {
                                    background: #fbc701;
                                }

                                &:nth-child(4):before {
                                    background: #eb3962;
                                }
                            }
                        }
                    }

                    &.chart2 {
                        height: 220px;
                    }

                    &.chart3 {
                        overflow: auto;
                        margin-bottom: 10px;

                        .stage2Chart3_1,
                        .stage2Chart3_2,
                        .stage2Chart3_3 {
                            float: left;
                            width: 33.33%;

                            .chart {
                                position: relative;
                                overflow: hidden;
                                height: 95px;

                                &:before {
                                    content: ' ';
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    width: 100%;
                                    height: 100%;
                                    background: url("../css/images/page2_chart3_1.png") center no-repeat;
                                    animation: animateChart3Bg 5s linear infinite;
                                }
                                @keyframes animateChart3Bg {
                                    from {
                                        transform: rotate(0);
                                    }

                                    to {
                                        transform: rotate(-360deg);
                                    }
                                }
                            }

                            p {
                                text-align: center;
                                color: #fff;
                            }
                        }
                    }

                    &.chart4 {
                        height: 230px;
                    }

                    &.chart5 {
                        height: 300px;
                    }

                    &.chart6 {
                        height: 150px;
                    }

                    &.chart7 {
                        height: 260px;
                    }
                }
            }
        }
    }
}