@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

div,
li,
ul {
  box-sizing: border-box; }

li,
ul {
  list-style: none; }

body,
html {
  height: 100%; }

body {
  overflow-x: hidden;
  background: #1c2025; }
  body::-webkit-scrollbar {
    display: none; }

.jdChartLoading {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("./images/loading.gif") #5c89b0 center no-repeat;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  z-index: 100; }
  .jdChartLoading.hide {
    opacity: 0; }

.page {
  position: relative;
  -webkit-transform-origin: left top 0;
          transform-origin: left top 0;
  overflow: hidden;
  width: 1920px;
  height: 1080px; }
  .page .container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; }
  .page .flashSquare {
    position: relative; }
    .page .flashSquare .corner {
      position: absolute; }
      .page .flashSquare .corner:after, .page .flashSquare .corner:before {
        content: ' ';
        display: block;
        position: absolute;
        -webkit-animation: cornerFlash 0.5s linear infinite alternate;
                animation: cornerFlash 0.5s linear infinite alternate; }
      .page .flashSquare .corner:before {
        width: 9px;
        height: 1px; }
      .page .flashSquare .corner:after {
        width: 1px;
        height: 9px; }

@-webkit-keyframes cornerFlash {
  from {
    background-color: #00fffd; }
  to {
    background-color: transparent; } }

@keyframes cornerFlash {
  from {
    background-color: #00fffd; }
  to {
    background-color: transparent; } }
    .page .flashSquare .top {
      top: 0;
      left: 0; }
      .page .flashSquare .top:before {
        top: -1px; }
      .page .flashSquare .top:after {
        left: -1px; }
    .page .flashSquare .right {
      top: 0;
      right: 0; }
      .page .flashSquare .right:before {
        top: -1px;
        right: -1px; }
      .page .flashSquare .right:after {
        right: -1px; }
    .page .flashSquare .bottom {
      bottom: 0;
      right: 0; }
      .page .flashSquare .bottom:before {
        right: -1px;
        bottom: -1px; }
      .page .flashSquare .bottom:after {
        right: -1px;
        bottom: -1px; }
    .page .flashSquare .left {
      bottom: 0;
      left: 0; }
      .page .flashSquare .left:before {
        bottom: -1px; }
      .page .flashSquare .left:after {
        left: -1px;
        bottom: -1px; }
  .page .dots {
    position: absolute;
    top: 7px;
    left: 210px; }
    .page .dots div {
      float: left;
      margin-right: 5px;
      width: 6px;
      height: 7px;
      -webkit-transform: skew(30deg, 0);
              transform: skew(30deg, 0);
      background: #2fd5d3; }

@-webkit-keyframes dotFlash {
  from {
    background-color: #2dc3c2; }
  to {
    background-color: #00fffd;
    box-shadow: 0 0 10px #fff; } }

@keyframes dotFlash {
  from {
    background-color: #2dc3c2; }
  to {
    background-color: #00fffd;
    box-shadow: 0 0 10px #fff; } }
      .page .dots div:nth-child(1) {
        width: 6px;
        -webkit-animation: dotFlash 0.5s linear infinite alternate;
                animation: dotFlash 0.5s linear infinite alternate; }
      .page .dots div:nth-child(2) {
        width: 5px;
        -webkit-animation: dotFlash 0.5s linear 0.2s infinite alternate;
                animation: dotFlash 0.5s linear 0.2s infinite alternate; }
      .page .dots div:nth-child(3) {
        width: 4px;
        -webkit-animation: dotFlash 0.5s linear 0.3s infinite alternate;
                animation: dotFlash 0.5s linear 0.3s infinite alternate; }
      .page .dots div:nth-child(4) {
        width: 3px;
        -webkit-animation: dotFlash 0.5s linear 0.4s infinite alternate;
                animation: dotFlash 0.5s linear 0.4s infinite alternate; }
      .page .dots div:nth-child(5) {
        width: 2px;
        -webkit-animation: dotFlash 0.5s linear 0.5s infinite alternate;
                animation: dotFlash 0.5s linear 0.5s infinite alternate; }
      .page .dots div:nth-child(6) {
        width: 1px;
        -webkit-animation: dotFlash 0.5s linear 0.6s infinite alternate;
                animation: dotFlash 0.5s linear 0.6s infinite alternate; }
  .page .number {
    background: url("../css/images/number.png") no-repeat;
    width: 25px;
    height: 38px;
    text-indent: -2000em;
    background-position-x: 6px; }
    .page .number.flip {
      -webkit-transition: 1s;
      transition: 1s;
      -webkit-transform: rotateY(720deg);
              transform: rotateY(720deg); }
    .page .number.num0 {
      background-position-y: 7px; }
    .page .number.num1 {
      background-position-y: -42px; }
    .page .number.num2 {
      background-position-y: -93px; }
    .page .number.num3 {
      background-position-y: -143px; }
    .page .number.num4 {
      background-position-y: -193px; }
    .page .number.num5 {
      background-position-y: -243px; }
    .page .number.num6 {
      background-position-y: -293px; }
    .page .number.num7 {
      background-position-y: -343px; }
    .page .number.num8 {
      background-position-y: -393px; }
    .page .number.num9 {
      background-position-y: -443px; }
    .page .number.dot {
      background-position-y: -497px; }
  .page .stage {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #1c2025; }
    .page .stage .fullPage {
      position: absolute;
      top: 100px;
      right: 0;
      padding: 5px 10px;
      border-radius: 5px 0 0 5px;
      background-color: #76f9fa;
      color: #fff;
      cursor: pointer;
      font-size: 20px; }
    .page .stage .leftPannel {
      position: absolute;
      top: 140px;
      bottom: 0;
      z-index: 1; }
  .page.page1 {
    background-color: #171a1e; }
    .page.page1 .logo {
      position: absolute;
      left: 40px;
      top: 35px;
      z-index: 1;
      width: 490px;
      height: 68px;
      background: url("../css/images/logo.png") no-repeat; }
    .page.page1 .stage .leftPannel {
      left: -100%;
      opacity: 0;
      -webkit-transition: all 2s ease-in;
      transition: all 2s ease-in;
      z-index: 5; }
      .page.page1 .stage .leftPannel.show {
        left: 35px;
        opacity: 1; }
      .page.page1 .stage .leftPannel .titleBar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 40px; }
        .page.page1 .stage .leftPannel .titleBar:before {
          content: ' ';
          display: block;
          width: 35px;
          height: 35px;
          background-position: center;
          background-repeat: no-repeat; }
        .page.page1 .stage .leftPannel .titleBar.titleBar1:before {
          background-image: url("../css/images/titleico1.png"); }
        .page.page1 .stage .leftPannel .titleBar.titleBar2:before {
          background-image: url("../css/images/titleico2.png"); }
        .page.page1 .stage .leftPannel .titleBar.titleBar3:before {
          background-image: url("../css/images/titleico3.png"); }
        .page.page1 .stage .leftPannel .titleBar.titleBar4:before {
          background-image: url("../css/images/titleico4.png"); }
        .page.page1 .stage .leftPannel .titleBar .title {
          position: relative;
          padding-left: 20px;
          width: 655px;
          height: 51px;
          line-height: 51px;
          background: url("../css/images/titleBar.png") no-repeat;
          color: #fff;
          font-weight: normal;
          font-family: "Microsoft YaHei";
          font-size: 16px; }
      .page.page1 .stage .leftPannel .content {
        padding-top: 10px;
        padding-left: 40px; }
        .page.page1 .stage .leftPannel .content .animateNumber {
          display: inline-block;
          vertical-align: middle; }
          .page.page1 .stage .leftPannel .content .animateNumber span {
            position: relative;
            display: inline-block;
            margin: 0 5px 0 0;
            width: 36px;
            height: 52px;
            line-height: 52px;
            border: 1px solid rgba(0, 0, 0, 0.5);
            background-color: #0c434a;
            text-align: center;
            font-size: 50px; }
            .page.page1 .stage .leftPannel .content .animateNumber span.dot {
              width: 15px;
              border: none;
              background-position-x: -5px;
              background-color: transparent; }
        .page.page1 .stage .leftPannel .content ul {
          overflow: auto; }
          .page.page1 .stage .leftPannel .content ul li {
            float: left;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin: 10px 10px 10px 0; }
            .page.page1 .stage .leftPannel .content ul li span {
              padding-bottom: 5px;
              color: #fff;
              font-size: 16px; }
            .page.page1 .stage .leftPannel .content ul li p {
              color: #33fefa;
              line-height: 26px;
              font-family: "Microsoft YaHei";
              font-weight: bold;
              font-size: 26px; }
        .page.page1 .stage .leftPannel .content .flashSquareBox {
          overflow: auto;
          width: 800px; }
          .page.page1 .stage .leftPannel .content .flashSquareBox .flashSquare {
            width: 90px;
            height: 90px;
            border: 1px solid rgba(51, 254, 250, 0.5);
            background: rgba(23, 26, 31, 0.5); }
            .page.page1 .stage .leftPannel .content .flashSquareBox .flashSquare p {
              -webkit-transition: all 1s ease-in;
              transition: all 1s ease-in; }
            .page.page1 .stage .leftPannel .content .flashSquareBox .flashSquare.light p {
              text-shadow: 0 0 10px #33fefa; }
        .page.page1 .stage .leftPannel .content .productBox li {
          padding: 0 20px;
          height: 78px;
          background: url("../css/images/line.png") no-repeat; }
    .page.page1 .stage .next {
      position: absolute;
      bottom: 30px;
      left: 50%;
      cursor: pointer; }
      .page.page1 .stage .next div {
        margin: 0 auto 5px;
        height: 2px;
        border-radius: 5px;
        background: #2fd5d3; }

@-webkit-keyframes nextFlash {
  from {
    background-color: #4cfffe; }
  to {
    background-color: #2487a3; } }

@keyframes nextFlash {
  from {
    background-color: #4cfffe; }
  to {
    background-color: #2487a3; } }
        .page.page1 .stage .next div:nth-child(1) {
          width: 10px;
          -webkit-animation: nextFlash 0.5s linear infinite alternate;
                  animation: nextFlash 0.5s linear infinite alternate; }
        .page.page1 .stage .next div:nth-child(2) {
          width: 24px;
          -webkit-animation: nextFlash 0.5s linear 0.2s infinite alternate;
                  animation: nextFlash 0.5s linear 0.2s infinite alternate; }
        .page.page1 .stage .next div:nth-child(3) {
          width: 34px;
          -webkit-animation: nextFlash 0.5s linear 0.3s infinite alternate;
                  animation: nextFlash 0.5s linear 0.3s infinite alternate; }
        .page.page1 .stage .next div:nth-child(4) {
          width: 44px;
          -webkit-animation: nextFlash 0.5s linear 0.4s infinite alternate;
                  animation: nextFlash 0.5s linear 0.4s infinite alternate; }
        .page.page1 .stage .next div:nth-child(5) {
          width: 54px;
          -webkit-animation: nextFlash 0.5s linear 0.5s infinite alternate;
                  animation: nextFlash 0.5s linear 0.5s infinite alternate; }
