* {
  margin: 0;
  padding: 0; }

ul, li, div {
  box-sizing: border-box; }

ul, li {
  list-style: none; }

html,
body {
  height: 100%; }

body {
  overflow-x: hidden; }

.jdChartLoading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("../images/loading.gif") #0f2a41 center no-repeat;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  z-index: 100; }
  .jdChartLoading.hide {
    opacity: 0; }

.dtCharts {
  -webkit-transform-origin: left top 0px;
          transform-origin: left top 0px;
  overflow: hidden;
  padding-top: 60px;
  width: 1920px;
  height: 1080px;
  background-color: #1a1f55; }
  .dtCharts .title {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -454px;
    width: 908px;
    height: 138px;
    line-height: 100px;
    background: url("../images/title.png") 78px no-repeat;
    text-align: center;
    color: #fff;
    z-index: 10;
    font-size: 36px; }
  .dtCharts .module {
    position: relative;
    margin-bottom: 10px;
    border: 1px solid #1c37c2;
    border-radius: 3px; }
    .dtCharts .module:before {
      content: ' ';
      position: absolute;
      left: -1px;
      top: -2px;
      width: 10px;
      height: 11px;
      background: url("../images/moduleLeftTop.png") 0 no-repeat; }
    .dtCharts .module:after {
      content: ' ';
      position: absolute;
      right: -1px;
      top: -2px;
      width: 10px;
      height: 11px;
      background: url("../images/moduleRightTop.png") 0 no-repeat; }
    .dtCharts .module .leftBottomRaidus {
      position: absolute;
      left: -1px;
      bottom: -2px;
      width: 10px;
      height: 11px;
      background: url("../images/moduleLeftBottom.png") 0 no-repeat; }
    .dtCharts .module .rightBottomRaidus {
      position: absolute;
      right: -1px;
      bottom: -2px;
      width: 10px;
      height: 11px;
      background: url("../images/moduleRightBottom.png") 0 no-repeat; }
    .dtCharts .module h5 {
      line-height: 35px;
      text-align: center;
      color: #b8eaf9;
      font-size: 18px; }
    .dtCharts .module .moduleContent {
      overflow: auto;
      position: relative;
      z-index: 10; }
  .dtCharts .leftBar,
  .dtCharts .mainBar,
  .dtCharts .rightBar {
    float: left; }
  .dtCharts .leftBar {
    margin: 0 10px 20px 20px;
    width: 545px; }
    .dtCharts .leftBar #chart1,
    .dtCharts .leftBar #chart2,
    .dtCharts .leftBar #chart3 {
      width: 100%; }
    .dtCharts .leftBar #chart1 {
      height: 225px; }
    .dtCharts .leftBar #chart2 {
      height: 210px; }
    .dtCharts .leftBar #chart3 {
      height: 170px; }
    .dtCharts .leftBar .module h5 {
      background: url("../images/leftTitleBg.png") center no-repeat; }
    .dtCharts .leftBar .module .moduleContent .block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .dtCharts .leftBar .module .moduleContent .block #chart4_1 {
        -webkit-box-flex: .45;
            -ms-flex: .45;
                flex: .45;
        height: 230px; }
      .dtCharts .leftBar .module .moduleContent .block #chart4_2 {
        -webkit-box-flex: .55;
            -ms-flex: .55;
                flex: .55;
        height: 230px; }
    .dtCharts .leftBar .module.chart1 .rangePoint {
      position: absolute;
      top: 10px;
      left: 10px;
      color: #fff;
      font-size: 16px; }
      .dtCharts .leftBar .module.chart1 .rangePoint b {
        padding: 0 10px 0 0;
        font-size: 40px; }
    .dtCharts .leftBar .leftLeftBottom {
      position: absolute;
      left: -100px;
      bottom: -15px;
      width: 360px;
      height: 360px;
      background: url(../images/leftLeftBottom.gif) left bottom no-repeat;
      background-size: 100%; }
  .dtCharts .mainBar {
    margin: 0 10px 20px 10px;
    width: 744px; }
    .dtCharts .mainBar .mainMap {
      position: relative; }
      .dtCharts .mainBar .mainMap #mainMap {
        margin-bottom: 10px;
        width: 100%;
        height: 736px;
        border: 1px solid #1c37c2;
        box-shadow: 0 0 20px #1c37c2 inset;
        background: url("../images/bg.png") center/contain no-repeat !important; }
      .dtCharts .mainBar .mainMap .mainNum, .dtCharts .mainBar .mainMap .listTop, .dtCharts .mainBar .mainMap .xygs, .dtCharts .mainBar .mainMap .totalNum {
        position: absolute;
        z-index: 10;
        color: #e2e8f3; }
      .dtCharts .mainBar .mainMap .mainNum {
        top: 60px;
        left: 40px; }
        .dtCharts .mainBar .mainMap .mainNum li {
          margin-bottom: 20px; }
          .dtCharts .mainBar .mainMap .mainNum li h5 {
            font-size: 16px; }
          .dtCharts .mainBar .mainMap .mainNum li:nth-child(1) {
            font-size: 16px; }
            .dtCharts .mainBar .mainMap .mainNum li:nth-child(1) h5 {
              display: inline-block;
              line-height: 52px;
              vertical-align: middle; }
            .dtCharts .mainBar .mainMap .mainNum li:nth-child(1) p {
              display: inline-block;
              vertical-align: middle; }
              .dtCharts .mainBar .mainMap .mainNum li:nth-child(1) p span {
                position: relative;
                display: inline-block;
                margin: 0 5px 0 0;
                width: 36px;
                height: 52px;
                line-height: 52px;
                border: 1px solid #4f5492;
                text-align: center;
                font-size: 50px;
                background-color: #325586; }
              .dtCharts .mainBar .mainMap .mainNum li:nth-child(1) p b {
                font-size: 20px; }
          .dtCharts .mainBar .mainMap .mainNum li:nth-child(2) {
            font-size: 16px; }
            .dtCharts .mainBar .mainMap .mainNum li:nth-child(2) span b {
              font-size: 34px; }
      .dtCharts .mainBar .mainMap .listTop h5, .dtCharts .mainBar .mainMap .xygs h5, .dtCharts .mainBar .mainMap .totalNum h5 {
        color: #39d7db;
        font-size: 16px; }
        .dtCharts .mainBar .mainMap .listTop h5 span, .dtCharts .mainBar .mainMap .xygs h5 span, .dtCharts .mainBar .mainMap .totalNum h5 span {
          padding: 10px 20px;
          background: url("../images/rightLeftBottom.gif") center no-repeat; }
      .dtCharts .mainBar .mainMap .listTop ul li, .dtCharts .mainBar .mainMap .xygs ul li, .dtCharts .mainBar .mainMap .totalNum ul li {
        line-height: 1.6;
        font-size: 16px; }
        .dtCharts .mainBar .mainMap .listTop ul li span, .dtCharts .mainBar .mainMap .xygs ul li span, .dtCharts .mainBar .mainMap .totalNum ul li span {
          font-size: 34px; }
      .dtCharts .mainBar .mainMap .listTop {
        top: 120px;
        right: 40px; }
      .dtCharts .mainBar .mainMap .xygs {
        left: 40px;
        bottom: 30px; }
      .dtCharts .mainBar .mainMap .totalNum {
        right: 40px;
        bottom: 30px; }
      .dtCharts .mainBar .mainMap .mainLeftBottom {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 269px;
        height: 268px;
        background: url("../images/mainLeftBottom.gif") no-repeat; }
    .dtCharts .mainBar .block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .dtCharts .mainBar .block .module {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1; }
        .dtCharts .mainBar .block .module:nth-child(1) {
          margin-right: 20px; }
        .dtCharts .mainBar .block .module h5 {
          background: url("../images/mainTitleBg.png") center no-repeat; }
        .dtCharts .mainBar .block .module #chart5 {
          float: left;
          width: 100%;
          height: 230px; }
        .dtCharts .mainBar .block .module #chart6 {
          float: left;
          width: 100%;
          height: 230px; }
  .dtCharts .rightBar {
    margin: 0 20px 20px 10px;
    width: 550px; }
    .dtCharts .rightBar #news {
      height: 227px; }
    .dtCharts .rightBar #chart7 {
      width: 100%;
      height: 345px; }
    .dtCharts .rightBar #chart8 {
      width: 100%;
      height: 310px; }
    .dtCharts .rightBar .chart8 {
      position: absolute;
      bottom: 15px;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      width: 525px; }
      .dtCharts .rightBar .chart8 li {
        overflow: hidden;
        position: relative;
        float: left;
        margin: 0 10px;
        width: 85px;
        height: 85px;
        line-height: 25px;
        cursor: pointer; }
        .dtCharts .rightBar .chart8 li.hover .bg {
          -webkit-animation: myRoute 1s linear infinite;
                  animation: myRoute 1s linear infinite; }
          .dtCharts .rightBar .chart8 li.hover .bg:after {
            opacity: 1; }
        .dtCharts .rightBar .chart8 li span {
          position: relative;
          display: block;
          padding-top: 15px;
          width: 100%;
          border-radius: 50%;
          text-align: center;
          color: #fff;
          z-index: 2; }
        .dtCharts .rightBar .chart8 li .bg {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%; }
          .dtCharts .rightBar .chart8 li .bg:before {
            content: ' ';
            position: absolute;
            left: 5px;
            top: 5px;
            width: 75px;
            height: 75px;
            border-radius: 50%;
            box-sizing: border-box; }
          .dtCharts .rightBar .chart8 li .bg:after {
            content: ' ';
            position: absolute;
            left: 0;
            top: 0;
            padding: 25%;
            -webkit-transform: rotate(-40deg);
                    transform: rotate(-40deg);
            background: url("../images/chart8Light.png") 2px 7px no-repeat;
            z-index: 10;
            -webkit-transition: all .25s ease;
            transition: all .25s ease;
            opacity: 0; }
          .dtCharts .rightBar .chart8 li .bg .mark {
            position: absolute;
            left: 10px;
            top: 10px;
            width: 65px;
            height: 65px;
            border-radius: 50%;
            background: #1a1f55;
            box-sizing: border-box;
            z-index: 1; }
        .dtCharts .rightBar .chart8 li:nth-child(1) .bg::before {
          background: -webkit-linear-gradient(#0ac192, #0a8e94);
          background: linear-gradient(#0ac192, #0a8e94); }
        .dtCharts .rightBar .chart8 li:nth-child(2) .bg::before {
          background: -webkit-linear-gradient(#ffba61, #f94d4c);
          background: linear-gradient(#ffba61, #f94d4c); }
        .dtCharts .rightBar .chart8 li:nth-child(3) .bg::before {
          background: -webkit-linear-gradient(#02f2ea, #0294f2);
          background: linear-gradient(#02f2ea, #0294f2); }
        .dtCharts .rightBar .chart8 li:nth-child(4) .bg::before {
          background: -webkit-linear-gradient(#eb48ad, #9e48ec);
          background: linear-gradient(#eb48ad, #9e48ec); }
        .dtCharts .rightBar .chart8 li:nth-child(5) .bg::before {
          background: -webkit-linear-gradient(#a1d73e, #03bf7c);
          background: linear-gradient(#a1d73e, #03bf7c); }
    .dtCharts .rightBar .module h5 {
      background: url("../images/leftTitleBg.png") center no-repeat; }
    .dtCharts .rightBar .xydt {
      position: relative; }
      .dtCharts .rightBar .xydt .moduleContent {
        padding: 20px 10px 0;
        height: 227px; }
        .dtCharts .rightBar .xydt .moduleContent #topPic {
          float: left;
          width: 277px;
          height: 183px; }
          .dtCharts .rightBar .xydt .moduleContent #topPic .pagination {
            position: absolute;
            right: 5px;
            bottom: 0;
            z-index: 20; }
            .dtCharts .rightBar .xydt .moduleContent #topPic .pagination .swiper-pagination-switch {
              display: inline-block;
              width: 4px;
              height: 4px;
              border-radius: 5px;
              background: #fff;
              margin-right: 5px;
              opacity: .8;
              cursor: pointer; }
            .dtCharts .rightBar .xydt .moduleContent #topPic .pagination .swiper-visible-switch {
              background: #aaa; }
            .dtCharts .rightBar .xydt .moduleContent #topPic .pagination .swiper-active-switch {
              width: 6px;
              height: 6px;
              border-radius: 6px;
              background: #f9b62c; }
        .dtCharts .rightBar .xydt .moduleContent .news {
          float: left;
          padding-left: 20px;
          width: 250px;
          box-sizing: border-box; }
          .dtCharts .rightBar .xydt .moduleContent .news li {
            position: relative;
            overflow: hidden;
            padding-left: 5px;
            list-style: square inside;
            color: #757898;
            border-bottom: 1px dotted rgba(72, 75, 119, 0.7);
            text-overflow: ellipsis;
            white-space: nowrap; }
            .dtCharts .rightBar .xydt .moduleContent .news li a {
              line-height: 38px;
              text-decoration: none;
              color: #e2e8f3;
              font-size: 14px; }
      .dtCharts .rightBar .xydt .rightLeftTop {
        position: absolute;
        right: -124px;
        top: -25px;
        width: 360px;
        height: 360px;
        background: url(../images/leftLeftBottom.gif) left bottom no-repeat;
        background-size: 100%;
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg); }
      .dtCharts .rightBar .xydt .rightLeftBottom {
        position: absolute;
        left: 10px;
        bottom: 8px;
        width: 30px;
        height: 7px;
        background: url("../images/rightLeftBottom.gif") no-repeat; }

@-webkit-keyframes myRoute {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes myRoute {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
