* {
    margin: 0;
    padding: 0;
}

div,
li,
ul {
    box-sizing: border-box;
}

li,
ul {
    list-style: none;
}

body,
html {
    height: 100%;
}

body {
    // overflow:hidden;
    overflow-x: hidden;
}

.jdChartLoading {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url('./images/loading.gif') #5c89b0 center no-repeat;
    transition: all 0.5s ease-in;
    z-index: 100;

    &.hide {
        opacity: 0;
    }
}

.dtCharts {
    transform-origin: left top 0;
    overflow: hidden;
    padding-top: 60px;
    width: 1920px;
    height: 1080px;
    background-color: #1a1f55;

    .title {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -454px;
        width: 908px;
        height: 138px;
        line-height: 100px;
        background: url('./images/title.png') 78px no-repeat;
        text-align: center;
        color: #fff;
        z-index: 10;
        font-size: 36px;
    }

    .module {
        position: relative;
        margin-bottom: 10px;
        border: 1px solid #1c37c2;
        border-radius: 3px;

        &:before {
            content: ' ';
            position: absolute;
            left: -1px;
            top: -2px;
            width: 10px;
            height: 11px;
            background: url('./images/moduleLeftTop.png') 0 no-repeat;
        }

        &:after {
            content: ' ';
            position: absolute;
            right: -1px;
            top: -2px;
            width: 10px;
            height: 11px;
            background: url('./images/moduleRightTop.png') 0 no-repeat;
        }

        .leftBottomRaidus {
            position: absolute;
            left: -1px;
            bottom: -2px;
            width: 10px;
            height: 11px;
            background: url('./images/moduleLeftBottom.png') 0 no-repeat;
        }

        .rightBottomRaidus {
            position: absolute;
            right: -1px;
            bottom: -2px;
            width: 10px;
            height: 11px;
            background: url('./images/moduleRightBottom.png') 0 no-repeat;
        }

        h5 {
            line-height: 35px;
            text-align: center;
            color: #b8eaf9;
            font-size: 18px;
        }

        .moduleContent {
            overflow: hidden;
            position: relative;
            z-index: 10;
        }
    }

    .leftBar,
    .mainBar,
    .rightBar {
        float: left;
    }

    .leftBar {
        margin: 0 10px 20px 20px;
        width: 545px;

        #chart1,
        #chart2,
        #chart3 {
            width: 100%;
        }

        #chart1 {
            height: 225px;
        }

        #chart2 {
            height: 190px;
        }

        #chart3 {
            height: 190px;
        }

        #chart4 {
            width: 100%;
            height: 230px;
        }

        .moduleBox {
            display: flex;

            .chart1 {
                margin-right: 10px;
                // width: 40%;
                flex: 4;

                .moduleContent {
                    height: 100%;

                    .areaBox {
                        position: absolute;
                        left: 0;
                        top: 0;
                        padding: 15px 0 0 15px;
                        // background: url('./images/line.gif') right center no-repeat;
                        .area {
                            position: relative;
                            margin-bottom: 20px;
                            padding-left: 25px;
                            width: 190px;
                            height: 50px;
                            line-height: 50px;
                            border: 1px solid #fff;
                            border-radius: 50px;
                            color: #fff;
                            font-size: 16px;

                            span {
                                position: absolute;
                                right: 15px;
                                top: 0;
                                font-weight: bold;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            .chart1_1 {
                // width: 60%;
                flex: 6;
            }
        }

        .chart4 {
            .toggleOutlet {
                position: absolute;
                bottom: 25px;
                left: 40px;
                z-index: 2;

                span {
                    display: block;
                    padding: 5px 2px;
                    width: 20px;
                    line-height: 1.2;
                    border: 1px solid #579cee;
                    text-align: center;
                    color: #579cee;

                    &.active {
                        background: #579cee;
                        color: #fff;
                        box-shadow: 0 0 3px #fff;
                    }

                    &:nth-child(1) {
                        border-radius: 5px 5px 0 0;
                    }

                    &:nth-child(2) {
                        border-radius: 0 0 5px 5px;
                    }
                }
            }

            .outletTitle {
                position: absolute;
                left: 92px;
                top: 20px;

                .swiper-slide {
                    position: relative;

                    span {
                        color: #fff;

                        &:nth-child(1) {
                            padding-right: 14px;
                        }
                    }
                }
            }
        }

        .module {
            h5 {
                background: url('./images/leftTitleBg.png') center no-repeat;
            }
        }

        .leftLeftBottom {
            position: absolute;
            left: -100px;
            bottom: -15px;
            width: 360px;
            height: 360px;
            background: url("./images/leftLeftBottom.gif") left bottom no-repeat;
            background-size: 100%;
        }
    }

    .mainBar {
        margin: 0 10px 20px;
        width: 744px;

        .mainMap {
            position: relative;

            #mainMap {
                position: relative;
                margin-bottom: 10px;
                width: 100%;
                height: 736px;
                border: 1px solid #1c37c2;
                box-shadow: 0 0 20px #1c37c2 inset;
                background: url('./images/bg.png') center/contain no-repeat!important;
                z-index: 1;
            }

            .listTop,
            .mainNum,
            .totalNum,
            .xygs {
                position: absolute;
                z-index: 10;
                color: #e2e8f3;
            }

            .listTop,
            .totalNum,
            .xygs {
                h5 {
                    color: #39d7db;
                    font-size: 18px;

                    span {
                        padding: 10px 20px;
                        background: url('./images/rightLeftBottom.gif') center no-repeat;
                    }
                }
            }

            .listTop,
            .totalNum {
                right: 20px;

                ul {
                    width: 100%;

                    li {
                        // display: block;
                        // overflow: hidden;
                        // text-overflow: ellipsis;
                        // white-space: nowrap;
                        line-height: 1.3;
                        font-size: 16px;

                        b {
                            display: inline-block;
                            overflow: hidden;
                            width: 100px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            text-align: right;
                        }

                        span {
                            font-size: 34px;
                        }
                    }
                }
            }

            .mainNum {
                top: 60px;
                left: 40px;

                li {
                    margin-bottom: 20px;
                    font-size: 16px;

                    h5 {
                        line-height: 52px;
                        vertical-align: middle;
                        color: #36c9d1;
                        font-size: 18px;
                    }

                    p {
                        display: inline-block;
                        vertical-align: middle;

                        span {
                            position: relative;
                            display: inline-block;
                            margin: 0 5px 0 0;
                            width: 36px;
                            height: 52px;
                            line-height: 52px;
                            border: 1px solid #4f5492;
                            text-align: center;
                            font-size: 50px;
                            background-color: #325586;
                        }

                        b {
                            font-size: 20px;
                        }
                    }

                    &:nth-child(2) {
                        p {
                            span {
                                background-color: #523457;
                            }
                        }
                    }
                }
            }

            .listTop {
                top: 73px;
            }

            .xygs {
                left: 40px;
                bottom: 30px;
                width: 387px;
                height: 69px;
                background: url('./images/xygs.png') center no-repeat;

                li {
                    float: left;
                    width: 50%;
                    text-align: center;

                    h5 {
                        padding: 10px 5px 0;
                        color: #36c9d1;
                        font-size: 16px;
                    }

                    p {
                        color: #fff;
                        font-size: 24px;
                    }
                }
            }

            .totalNum {
                bottom: 30px;
            }

            .mainLeftBottom {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 269px;
                height: 268px;
                background: url('./images/mainLeftBottom.gif') no-repeat;
            }
        }

        .block {
            display: flex;

            .module {
                flex: 1;

                &:nth-child(1) {
                    margin-right: 20px;
                }

                h5 {
                    background: url('./images/mainTitleBg.png') center no-repeat;
                }

                #chart5 {
                    float: left;
                    width: 100%;
                    height: 230px;
                }

                #chart6 {
                    float: left;
                    width: 100%;
                    height: 230px;
                }
            }
        }
    }

    .rightBar {
        margin: 0 20px 20px 10px;
        width: 550px;

        #chart10 {
            width: 100%;
            height: 225px;
        }

        #chart7 {
            width: 100%;
            height: 190px;
        }

        #chart8 {
            width: 100%;
            height: 190px;
        }

        #chart9 {
            width: 100%;
            height: 230px;
        }

        .module {
            h5 {
                background: url('./images/leftTitleBg.png') center no-repeat;
            }
        }
        // .xydt {
        //     position: relative;
        //
        //     .moduleContent {
        //         padding: 20px 10px 0;
        //         height: 225px;
        //
        //         #topPic {
        //             float: left;
        //             width: 277px;
        //             height: 183px;
        //
        //             .pagination {
        //                 position: absolute;
        //                 right: 5px;
        //                 bottom: 0;
        //                 z-index: 20;
        //
        //                 .swiper-pagination-switch {
        //                     display: inline-block;
        //                     width: 4px;
        //                     height: 4px;
        //                     border-radius: 5px;
        //                     background: #fff;
        //                     margin-right: 5px;
        //                     opacity: 0.8;
        //                     cursor: pointer;
        //                 }
        //
        //                 .swiper-visible-switch {
        //                     background: #aaa;
        //                 }
        //
        //                 .swiper-active-switch {
        //                     width: 6px;
        //                     height: 6px;
        //                     border-radius: 6px;
        //                     background: #f9b62c;
        //                 }
        //             }
        //         }
        //
        //         .news {
        //             float: left;
        //             padding-left: 20px;
        //             width: 250px;
        //             box-sizing: border-box;
        //
        //             li {
        //                 position: relative;
        //                 overflow: hidden;
        //                 padding-left: 5px;
        //                 list-style: square inside;
        //                 color: #757898;
        //                 border-bottom: 1px dotted rgba(72, 75, 119, .7);
        //                 text-overflow: ellipsis;
        //                 white-space: nowrap;
        //
        //                 a {
        //                     line-height: 38px;
        //                     text-decoration: none;
        //                     color: #e2e8f3;
        //                     font-size: 14px;
        //                 }
        //             }
        //         }
        //     }
        //
        //     .rightLeftTop {
        //         position: absolute;
        //         right: -124px;
        //         top: -25px;
        //         width: 360px;
        //         height: 360px;
        //         background: url("./images/leftLeftBottom.gif") left bottom no-repeat;
        //         background-size: 100%;
        //         transform: rotate(180deg);
        //     }
        //
        //     .rightLeftBottom {
        //         position: absolute;
        //         left: 10px;
        //         bottom: 8px;
        //         width: 30px;
        //         height: 7px;
        //         background: url('./images/rightLeftBottom.gif') no-repeat;
        //     }
        // }
    }
}
@keyframes myRoute {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}
