* {
  margin: 0;
  padding: 0; }

div,
li,
ul {
  box-sizing: border-box; }

li,
ul {
  list-style: none; }

body,
html {
  height: 100%; }

body {
  overflow-x: hidden; }

.jdChartLoading {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("./images/loading.gif") #5c89b0 center no-repeat;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  z-index: 100; }
  .jdChartLoading.hide {
    opacity: 0; }

.dtCharts {
  -webkit-transform-origin: left top 0;
          transform-origin: left top 0;
  overflow: hidden;
  padding-top: 60px;
  width: 1920px;
  height: 1080px;
  background-color: #1a1f55; }
  .dtCharts .title {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -454px;
    width: 908px;
    height: 138px;
    line-height: 100px;
    background: url("./images/title.png") 78px no-repeat;
    text-align: center;
    color: #fff;
    z-index: 10;
    font-size: 36px; }
  .dtCharts .module {
    position: relative;
    margin-bottom: 10px;
    border: 1px solid #1c37c2;
    border-radius: 3px; }
    .dtCharts .module:before {
      content: ' ';
      position: absolute;
      left: -1px;
      top: -2px;
      width: 10px;
      height: 11px;
      background: url("./images/moduleLeftTop.png") 0 no-repeat; }
    .dtCharts .module:after {
      content: ' ';
      position: absolute;
      right: -1px;
      top: -2px;
      width: 10px;
      height: 11px;
      background: url("./images/moduleRightTop.png") 0 no-repeat; }
    .dtCharts .module .leftBottomRaidus {
      position: absolute;
      left: -1px;
      bottom: -2px;
      width: 10px;
      height: 11px;
      background: url("./images/moduleLeftBottom.png") 0 no-repeat; }
    .dtCharts .module .rightBottomRaidus {
      position: absolute;
      right: -1px;
      bottom: -2px;
      width: 10px;
      height: 11px;
      background: url("./images/moduleRightBottom.png") 0 no-repeat; }
    .dtCharts .module h5 {
      line-height: 35px;
      text-align: center;
      color: #b8eaf9;
      font-size: 18px; }
    .dtCharts .module .moduleContent {
      overflow: hidden;
      position: relative;
      z-index: 10; }
  .dtCharts .leftBar,
  .dtCharts .mainBar,
  .dtCharts .rightBar {
    float: left; }
  .dtCharts .leftBar {
    margin: 0 10px 20px 20px;
    width: 545px; }
    .dtCharts .leftBar #chart1,
    .dtCharts .leftBar #chart2,
    .dtCharts .leftBar #chart3 {
      width: 100%; }
    .dtCharts .leftBar #chart1 {
      height: 225px; }
    .dtCharts .leftBar #chart2 {
      height: 190px; }
    .dtCharts .leftBar #chart3 {
      height: 190px; }
    .dtCharts .leftBar #chart4 {
      width: 100%;
      height: 230px; }
    .dtCharts .leftBar .moduleBox {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .dtCharts .leftBar .moduleBox .chart1 {
        margin-right: 10px;
        -webkit-box-flex: 4;
            -ms-flex: 4;
                flex: 4; }
        .dtCharts .leftBar .moduleBox .chart1 .moduleContent {
          height: 100%; }
          .dtCharts .leftBar .moduleBox .chart1 .moduleContent .areaBox {
            position: absolute;
            left: 0;
            top: 0;
            padding: 15px 0 0 15px; }
            .dtCharts .leftBar .moduleBox .chart1 .moduleContent .areaBox .area {
              position: relative;
              margin-bottom: 20px;
              padding-left: 25px;
              width: 190px;
              height: 50px;
              line-height: 50px;
              border: 1px solid #fff;
              border-radius: 50px;
              color: #fff;
              font-size: 16px; }
              .dtCharts .leftBar .moduleBox .chart1 .moduleContent .areaBox .area span {
                position: absolute;
                right: 15px;
                top: 0;
                font-weight: bold;
                font-size: 16px; }
      .dtCharts .leftBar .moduleBox .chart1_1 {
        -webkit-box-flex: 6;
            -ms-flex: 6;
                flex: 6; }
    .dtCharts .leftBar .chart4 .toggleOutlet {
      position: absolute;
      bottom: 25px;
      left: 40px;
      z-index: 2; }
      .dtCharts .leftBar .chart4 .toggleOutlet span {
        display: block;
        padding: 5px 2px;
        width: 20px;
        line-height: 1.2;
        border: 1px solid #579cee;
        text-align: center;
        color: #579cee; }
        .dtCharts .leftBar .chart4 .toggleOutlet span.active {
          background: #579cee;
          color: #fff;
          box-shadow: 0 0 3px #fff; }
        .dtCharts .leftBar .chart4 .toggleOutlet span:nth-child(1) {
          border-radius: 5px 5px 0 0; }
        .dtCharts .leftBar .chart4 .toggleOutlet span:nth-child(2) {
          border-radius: 0 0 5px 5px; }
    .dtCharts .leftBar .chart4 .outletTitle {
      position: absolute;
      left: 92px;
      top: 20px; }
      .dtCharts .leftBar .chart4 .outletTitle .swiper-slide {
        position: relative; }
        .dtCharts .leftBar .chart4 .outletTitle .swiper-slide span {
          color: #fff; }
          .dtCharts .leftBar .chart4 .outletTitle .swiper-slide span:nth-child(1) {
            padding-right: 14px; }
    .dtCharts .leftBar .module h5 {
      background: url("./images/leftTitleBg.png") center no-repeat; }
    .dtCharts .leftBar .leftLeftBottom {
      position: absolute;
      left: -100px;
      bottom: -15px;
      width: 360px;
      height: 360px;
      background: url("./images/leftLeftBottom.gif") left bottom no-repeat;
      background-size: 100%; }
  .dtCharts .mainBar {
    margin: 0 10px 20px;
    width: 744px; }
    .dtCharts .mainBar .mainMap {
      position: relative; }
      .dtCharts .mainBar .mainMap #mainMap {
        position: relative;
        margin-bottom: 10px;
        width: 100%;
        height: 736px;
        border: 1px solid #1c37c2;
        box-shadow: 0 0 20px #1c37c2 inset;
        background: url("./images/bg.png") center/contain no-repeat !important;
        z-index: 1; }
      .dtCharts .mainBar .mainMap .listTop,
      .dtCharts .mainBar .mainMap .mainNum,
      .dtCharts .mainBar .mainMap .totalNum,
      .dtCharts .mainBar .mainMap .xygs {
        position: absolute;
        z-index: 10;
        color: #e2e8f3; }
      .dtCharts .mainBar .mainMap .listTop h5,
      .dtCharts .mainBar .mainMap .totalNum h5,
      .dtCharts .mainBar .mainMap .xygs h5 {
        color: #39d7db;
        font-size: 18px; }
        .dtCharts .mainBar .mainMap .listTop h5 span,
        .dtCharts .mainBar .mainMap .totalNum h5 span,
        .dtCharts .mainBar .mainMap .xygs h5 span {
          padding: 10px 20px;
          background: url("./images/rightLeftBottom.gif") center no-repeat; }
      .dtCharts .mainBar .mainMap .listTop,
      .dtCharts .mainBar .mainMap .totalNum {
        right: 20px; }
        .dtCharts .mainBar .mainMap .listTop ul,
        .dtCharts .mainBar .mainMap .totalNum ul {
          width: 100%; }
          .dtCharts .mainBar .mainMap .listTop ul li,
          .dtCharts .mainBar .mainMap .totalNum ul li {
            line-height: 1.3;
            font-size: 16px; }
            .dtCharts .mainBar .mainMap .listTop ul li b,
            .dtCharts .mainBar .mainMap .totalNum ul li b {
              display: inline-block;
              overflow: hidden;
              width: 100px;
              text-overflow: ellipsis;
              white-space: nowrap;
              text-align: right; }
            .dtCharts .mainBar .mainMap .listTop ul li span,
            .dtCharts .mainBar .mainMap .totalNum ul li span {
              font-size: 34px; }
      .dtCharts .mainBar .mainMap .mainNum {
        top: 60px;
        left: 40px; }
        .dtCharts .mainBar .mainMap .mainNum li {
          margin-bottom: 20px;
          font-size: 16px; }
          .dtCharts .mainBar .mainMap .mainNum li h5 {
            line-height: 52px;
            vertical-align: middle;
            color: #36c9d1;
            font-size: 18px; }
          .dtCharts .mainBar .mainMap .mainNum li p {
            display: inline-block;
            vertical-align: middle; }
            .dtCharts .mainBar .mainMap .mainNum li p span {
              position: relative;
              display: inline-block;
              margin: 0 5px 0 0;
              width: 36px;
              height: 52px;
              line-height: 52px;
              border: 1px solid #4f5492;
              text-align: center;
              font-size: 50px;
              background-color: #325586; }
            .dtCharts .mainBar .mainMap .mainNum li p b {
              font-size: 20px; }
          .dtCharts .mainBar .mainMap .mainNum li:nth-child(2) p span {
            background-color: #523457; }
      .dtCharts .mainBar .mainMap .listTop {
        top: 73px; }
      .dtCharts .mainBar .mainMap .xygs {
        left: 40px;
        bottom: 30px;
        width: 387px;
        height: 69px;
        background: url("./images/xygs.png") center no-repeat; }
        .dtCharts .mainBar .mainMap .xygs li {
          float: left;
          width: 50%;
          text-align: center; }
          .dtCharts .mainBar .mainMap .xygs li h5 {
            padding: 10px 5px 0;
            color: #36c9d1;
            font-size: 16px; }
          .dtCharts .mainBar .mainMap .xygs li p {
            color: #fff;
            font-size: 24px; }
      .dtCharts .mainBar .mainMap .totalNum {
        bottom: 30px; }
      .dtCharts .mainBar .mainMap .mainLeftBottom {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 269px;
        height: 268px;
        background: url("./images/mainLeftBottom.gif") no-repeat; }
    .dtCharts .mainBar .block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .dtCharts .mainBar .block .module {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1; }
        .dtCharts .mainBar .block .module:nth-child(1) {
          margin-right: 20px; }
        .dtCharts .mainBar .block .module h5 {
          background: url("./images/mainTitleBg.png") center no-repeat; }
        .dtCharts .mainBar .block .module #chart5 {
          float: left;
          width: 100%;
          height: 230px; }
        .dtCharts .mainBar .block .module #chart6 {
          float: left;
          width: 100%;
          height: 230px; }
  .dtCharts .rightBar {
    margin: 0 20px 20px 10px;
    width: 550px; }
    .dtCharts .rightBar #chart10 {
      width: 100%;
      height: 225px; }
    .dtCharts .rightBar #chart7 {
      width: 100%;
      height: 190px; }
    .dtCharts .rightBar #chart8 {
      width: 100%;
      height: 190px; }
    .dtCharts .rightBar #chart9 {
      width: 100%;
      height: 230px; }
    .dtCharts .rightBar .module h5 {
      background: url("./images/leftTitleBg.png") center no-repeat; }

@-webkit-keyframes myRoute {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes myRoute {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
